.test_box{
    padding: 10px;
    font-size: 16px;
    width: 400px;
    height: 500px;
    background-color: aquamarine;
}
button{
    width: 100px;
    height: 50px;
    display: block;
}
.plus{
    width: 50px;
    height: 50px;
}