
.cart-table{
   max-width: 1200px;
   width: 100%;
   margin: auto;
   background: white;
   border-radius: 10px;
   text-align: center;
}
/* 메인배경 */
.blue-frame{
    width: 100%;
    background-color: #c2d3de ;
    padding: 30px;
}
td,th{
/* border: 1px solid black; */
}
/* cart table 안에 있는 td */
.cart-table td,th{
    padding: 15px;
    border-bottom: 1px solid #c2d3de;
}
/* cart table. 안에있는 두번째 th 선택 nth-child(1) */
.cart-table th:nth-child(3){
    width: 400px;
}

/* item sell 길이 지정*/
/* 위에 한행만 조절해도 아래는 자동으로 적용됨 */
.cell-long{
    width: 700px;

}
/* 링크 버튼 */
.edit_cart{
    margin-top: 20px; 
    width: 200px; 
    display: inline-block;
    margin: 20px;
}

/* 구매버튼 */
.pay_btn{
    float:right;
    width: 300px;
    background-color: darkblue;
    height: 50px;
    color: white;
    margin-top: 10px;
    /* 버튼 옵션 : 버튼에 커서가 닿으면 누르는 커서로 변경됨 */
    cursor: pointer;
}
/* 커서를 올렸을때 스타일을 정함(파란색상으로 빛이 들어옴) */
.pay_btn:hover{
    background-color: blue;
}
/* 클릭 후 (마우스 땐 상태) 고정된 상태로 있게됨 */
.pay_btn:focus{
    background-color: green;
}
/* 마우스를 클릭하고 있을때 스타일 active */
.pay_btn:active{
    background-color: red;
    border: 2px solid black;
}
.test_input{
    font-size: 20px;
}
.test_input:focus{
    border: 2px solid salmon;
    background-color: green;
}
.test-li{
    text-decoration: none;
}
.test-li:link{
    color: brown;
}
.test-li:visited{
    color: red;
}
