.contatiner {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.blog-content{
    width: 80%;
    height: 200px;
    float: left;
}
.blog-img{
    width: 20%;
    height: 200px;
    float: left;
}
.blog-profile{
    width: 50px;
    float: left;
    display: block;
}
.blog-name{
    float: left;
}
/* .right{ 
    width: 80%;
    height: 400px;
    /* float: right; */
    /* display: inline-block; */
    /* inline -> 내 크기 만큼 가로 행을 차지 */
    /* background: coral; */
    /* vertical-align: top; */
    /*text를 그냥 박스에 넣으면 틀어짐 inline속성을 쓰면 
    그래서 vertical속성을 통해 정렬 
    vertical은 inline / inline-block 속성을 가진 요소들에게만 적용 가능 
} 
*/
.navbar> li{
 display: inline-block;
 width: 60px;
 /* 텍스트를 가운대로 정렬(텍스트 정렬 위치를 선정) */
 text-align: center;
 background: #eee;
 padding: 10px;
 /* 테두리를 둥글게 만들어줌 */
 border-radius: 5px;
}
.navbar> a{
    font-size: 16px;
    text-decoration: none;
}